* {
	padding:0;
	margin:0;
	font-family: Helvetica, Gill Sans Extrabold, sans-serif;
	color: black;
}

body {
	background:#FFFFFA;
	min-width: 250px;
}

header {
	width:100%;	
	background-color: #1e90ff; 	border: solid 1px #1e90ff;
}

header nav {
	width: 90%;
	margin: 0px auto;	
	max-width:1000px; 
}

.menu_bar {
	display:none;
}

header nav ul {
	list-style:none;
	overflow:hidden;
	margin: auto 0px;
}

header nav ul li {
	float: left;
}

li{
	display: flex;
	align-items: center;
}

header nav ul li span {
	margin-left: 10px;
	text-align: center;
}

header nav ul li a{
	display:block; 
	text-align: left;
	align-items: center;
	margin: 0px 20px 0px 0px;
	padding: 10px;
	color: #000000;
	text-decoration:none; 
	font-weight: bold;
}

header nav ul li:hover, a:hover{
	background: rgb(0, 100, 250);	
	padding: auto;
	text-decoration: none;
	color: #000000;
}

.lang_select{
	background-color: #1e90ff;
	border-color: #1e90ff;
	color: #000000;
	text-decoration: none;			 
	position: absolute;
	vertical-align: middle;
	left: 80%;
	top: 1%; 
}

.lang_select span{
	margin: 0px 10px 0px 10px;

}

.lang_select:hover{
	background-color: #1e90ff;
}

article{
	width: 100%;
	min-width: 250px;
	display: flex;
	flex-wrap: wrap;
}

.sectioncero{
	width: 100%;
	height: auto;
	display: flex; 
	justify-content: center;
	background-color: black;
	padding-top: 10px;
}

.sectioncero__p{
	width: 80%;
	height: auto;
	display: flex;	
	flex-wrap: wrap;
	background-color: black;
	padding: 0px 0px 0px 0px; 	
}

.in-flex{
	flex: 1;	
	min-width: 250px; 
}

.in-flex:first-child{	
	flex: 1;
	background-color: #000000;	
}

.in-flex div{
	background-color: #00000;
	color: #ffffff;  
}

.flex-2{
	display: flex;
	justify-content: flex-end;
}

.sectioncero__p--i--i{
	width: 250px;
	height: 250px;	
}

.sectioncero__p--p{
	padding: 10px;
	text-align: left;
	color: white;
	font-size: 20px;
}


p, .sO__me2 p{
	font-family: verdana;
	color: black;
	text-decoration: none;
	font-size: 15px;
	line-height: 30px;
	-ms-word-break: break-all;
	text-align: justify;
	padding: 10px;
}

h4{
	padding-top: 4px;
	padding-left: 4px;
}

h6, .cvc_company, .intimidades_comp{
	font-weight: bold;
}

.linea{
	background: black;
	width = 80%;
	height: 5px;
}

.linea-2{
	background: black;
	width = 100%;
	height: 3px;	
}

.sO{
	padding: 50px 0px 0px 0px;
	width: 	100%;
	height: auto;	
	display: flex;
	justify-content: center;
}

.sO__me1{
	padding: 0px 0px 0px 0px;
    width: 80%;
    height: auto;
	box-shadow:  10px 10px 20px black;
	background-color: rgba(236, 255, 255, 0.5);    
}

.sO__me1--t{
	width: 100%;
	height: auto;
}

.sO__me1--t--tr1, .sO__me1--t--tr2, .sO__me1--t--tr3, .sO__me1--t--tr4{
	width: 100%;
	height: auto;
	display: flex;
	justify-content: center;
}

.sO__me1--t--tr1--td1, .sO__me1--t--tr1--td2, .sO__me1--t--tr2--td1, .sO__me1--t--tr2--td2, .sO__me1--t--tr3--td1, .sO__me1--t--tr3--td2, .sO__me1--t--tr4--td1, .sO__me1--t--tr4--td2{
	width: 50%;
	height: auto;
	display: block;
}

.sO__me1--t--title{
	font-weight: bold;
	text-align: left;
	padding: 15px 0px 0px 0px;
	width: 100%; 
}

.sO__me1--t--content{
	width: 100%; 
	font-family: verdana;
	color: black;
	text-decoration: none;
	font-size: 15px;
	line-height: 30px;
	-ms-word-break: break-all;
	text-align: left;
	padding: 0px 0px 0px 5px;
}


.sO__me2{
	padding: 20px 0px 8px 0px;
  	width: 100%;
  	height: auto;
  	text-align: justify;
}

.sectionTwo{
	padding: 50px 0px 0px 0px;
	width: 	100%;
	height: auto; 
	display: flex;
	justify-content: center; 
}

.sectionTwo__cont{
	width: 80%;
	box-shadow:  10px 10px 20px black;
    background-color: rgba(236, 255, 255, 0.5);
}

.sectionTwo a{
	color: black;
	text-decoration: none;
}

.studiesOne{
	background-color: rgba(236, 255, 255, 0.5); 
    width: 100%;    
}

.contentUNY{
	display: flex;
	justify-content: center;
	padding: 10px 3px 10px 0px;
}

.logoUNY{
	padding: 20px;
	width: 200px;
	height: 300px;
	max-width: ;
	max-height: ; 		
}

.descripcionUNY{
	width: 90%;
	height: 40%;
	text-align: justify;
	padding: 2px 0px 0px 10px; 
}

.studiesTwo{
    background-color: rgba(236, 255, 255, 0.5);    
    width: 100%;	       
}

.contentFUNDAUC{
	display: flex;
	justify-content: center;
	padding: 10px 3px 10px 0px;
}

.logoFUNDAUC{
	padding: 20px;
	width: 200px;
	height: 200px;
}

.descripcionfundauc{
	width: 90%;
	height: 40%;
	text-align: justify;
	padding: 2px 0px 0px 10px;; 
}

.studiesthree{
    background-color: rgba(236, 255, 255, 0.5);    
    width: 100%;	        
}

.contentUCLA{
	display: flex;
	justify-content: center;	
	padding: 10px 3px 10px 0px;	
}

.logoUCLA{
	padding: 20px;
	width: 200px;
	height: 300px;	
}

.descripcionUCLA{
	width: 90%;
	height: 40%;
	text-align: justify;
	padding: 2px 0px 0px 10px;
}

.sectionThree{
	padding: 50px 0px 0px 0px;
	width: 	100%;
	height: auto;
 
}

.contentSkills{
	padding: 0px 0px 0px 0px;
    background-color: rgba(236, 255, 255, 0.5);
	box-shadow:  10px 10px 20px black;    
    width: 80%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

.skills{
	padding: 0px 0px 0px 0px;    
    width: 99%;
    margin-left: auto;
    margin-right: auto;/*
    display: flex;
    flex-wrap: wrap;*/
    display: grid;
    grid-template-columns:  repeat(auto-fill, minmax(200px, 1fr));
    justify-content: center;
}

.skill{		
		margin: 10px;		
		box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5) inset;
		text-align: center;
		justify-content: center; 			
}

.caja{
	width: 150px;
	height: 150px;	
	margin: 5px;
	line-height: 150px;
	font-size: 50px; 
	text-align: center;
}

.row1, .row16, .row18{
	padding: 10px 20px;
}	

.row2, .row6, .row7, .row8, .row9, .row10, .row11, .row12, .row20{
	padding: 10px 10px;
}

.row3, .row4, .row5{
	padding: 10px 30px;
}	

.row19, .row20{
	padding: 20px;
}

.row14, .row15, .row17, .row21{
	padding: 30px 10px;
}
.nameSkill{
	text-align: center;
	font-family: verdana; 
	color: #00bfff;	
	text-decoration: none;
	font-size: 15px;
	line-height: 20px;	
	font-weight: bold;
}

.rangoSkill{	
	width: 100%;
	height: 5px;
	background-color: #00bfff;
	pointer-events: none;
	line-height: 100px;
	-webkit-appearance: none;	
}

.rangeValueSkill{
	text-align: center;
	font-family: verdana; 
	color: #00bfff;	
	text-decoration: none;
	font-size: 13px;
	line-height: 20px;	
	font-weight: bold;
}

.percentage{
	text-align: right;
	font-family: verdana; 
	color: #00bfff;	
	text-decoration: none;
	font-size: 13px;
	line-height: 20px;	
	font-weight: bold;
	padding: 0px 0px 10px 0px;
}

.sectionFour{
	padding: 50px 0px 0px 0px;
	width: 	100%;
	height: auto;
	padding-bottom: 20px;		
}

.sectionFour a{
	color: black;
	text-decoration: none;
}

.contentBiefcase{
    background-color: rgba(236, 255, 255, 0.5);
	box-shadow:  10px 10px 20px black;    
    width: 80%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

.contentBiefcase__one{
	text-align:  center;	
	width: 100%;
	height: auto;
	padding: 10px 3px 10px 0px;	
	display: flex;
	justify-content: center;
}	

.briefcase_logo{
	width: 20%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.contentBiefcase__one-Imagen{
	padding: 10px 10px 10px 10px;
	width: 180px;
	height: 180px;
	text-align: center; 
}

.contentBiefcase__one-content{
	width: 80%;
	text-align: justify;
	padding: 2px 0px 0px 10px;
}

.contentBiefcase__two{
	display: flex;
	justify-content: center;	
	width: auto;
	height: auto;	
	padding: 10px 3px 10px 0px;	
}

.contentBiefcase__two-Imagen{
	text-align: center;
	width: 100px;
	height: 100px; 
}

.contentBiefcase__two-content{
	width: 80%;
	text-align: justify; 
	padding: 2px 0px 0px 10px;	 
}

.contentBiefcase a{
	color: black;
	text-decoration: none;
}

.contentBiefcase__three{
	text-align:  center;	
	width: 100%;
	height: auto;
	padding: 10px 3px 10px 0px;	
	display: flex;
	justify-content: center;
}	


.contentBiefcase__three-Imagen{
	padding: 10px 10px 10px 10px;
	width: 180px;
	height: 180px;
	text-align: center;
}

.contentBiefcase__three-content{
	width: 80%;
	text-align: justify;
	padding: 2px 0px 0px 10px;
}

.contentBiefcase__four{
	text-align:  center;	
	width: 100%;
	height: auto;
	padding: 10px 3px 10px 0px;	
	display: flex;
	justify-content: center;
}	


.contentBiefcase__four-Imagen{
	padding: 10px 10px 10px 10px;
	width: 180px;
	height: 180px;
	text-align: center;
}

.contentBiefcase__four-content{
	width: 80%;
	text-align: justify;
	padding: 2px 0px 0px 10px;
}

footer{
	width: 100%;	
	height: auto;
	justify-content: center;	
	background-color: black;
	display: flex;
	justify-content: center;
}

.footer{
	width: 80%;
	height: auto;
	display: flex;
}

.footer__msj{
	width: 50%;
	height: auto;
	text-align: left; 
	position: relative;
}

.footer__msj--quote p{
	font-family: Brush Script MT;
	color: white;
	text-decoration: none;
	font-size: 30px;
	line-height: 30px;
	margin: 20px 0px 0px 0px;
}

.footer__msj--copyright{
	color: white;
	text-decoration: none;	
	position: absolute;
	bottom:0px;	
}

.footer_contact, .footer_contact p{
	width: 100%;
	height: auto;
	text-align: right;
	align-items: right; 
}

.footer_contact p{
	color: white;
	text-decoration: none;
	font-size: 20px;
	margin:  0px 0px 0px 0px;
}

.footer_contact--sn{
	display: flex;
	justify-content: flex-end;
}

.footer_contact--sn img{
	width: 40px;
	height: 40px;
	margin: 10px; 
}

.footer_contact p[title]{
	color: white;
	text-decoration: none;
	font-size: 15px;
	margin:  0px 0px 0px 0px;	
}

.ir-arriba {
	padding:20px;
	display:inline-block;
	background:#1e90ff;
	color:#fff;
	position: fixed;
	font-size:20px;
	bottom:20px;
	right:20px;
	display:none;
	cursor:pointer;
}

body{
	background: rgba(248, 255, 255, 0.5);
}


@media screen and (max-width:800px) {
	header nav {
		width:80%;
		height:auto;		
		left:-100%;
		overflow:auto; 
		background:#ffffff;
		position: fixed;
		top: 100px;
	}

	.menu_bar {
		display: block;
		width:100%;
		background:#1e90ff; 
		position: fixed; /*mantener el menu estatico en el top*/		
	}

	.menu_bar .bt-menu {
		display:block;
		padding:20px;
		-webkit-box-sizing:border-box;
		-moz-box-sizing:border-box;
		box-sizing:border-box;
		background:#1e90ff;
		overflow: hidden;
		font-size:25px;
		font-weight:bold;
		color:#000000;
		text-decoration:none;
	}

	.menu_bar span {
		float:right;
		font-size:40px;
	}

	header nav ul li {
		display:flex; 
		float:none; 
		flex-direction: row;
		border-bottom:1px solid rgb(255, 255, 255); 		
	}

	/*
	header nav ul li span a{
		top: 20%;
		align-self: left;		
	}*/

	.lang_select{
		background-color: #ffffff;
		border-color: #ffffff;
		color: #000000;
		font-weight: bold;
		text-decoration: none;	
		position: relative;
		vertical-align: none;
		left: 0%;
		top: 0%;			
	}	

	.lang_select:hover{
		background-color: rgb(0, 100, 250);
	}
	
	.sectioncero{
		margin-top: 100px;		
	}

	.sectioncero__p{
		width: 100%;
		display: flex;
	}

	.in-flex{
		width: 100%;		
		padding: 10px;
	}

	.in-flex:first-child{	
		flex: 1;		
		align-items: left; 
	}

	.flex-2{
		align-items: right;
	}

	.sectioncero__p--p h1, h3{
		font-size: 20px;
		align-items: left;		
	}

  	.sectioncero__p--i--i{
		width: 200px;
		height: 200px;	
	}	

	.sO__me1, .sectionTwo__cont, .contentSkills, .contentBiefcase{
		width: 95%;
	}

	.sO__me1--t--tr1, .sO__me1--t--tr2, .sO__me1--t--tr3, .sO__me1--t--tr4{
		with: 100%;
		display: grid;
		justify-content: flex-start;
	}	

	.sO__me1--t--tr1--td1, .sO__me1--t--tr1--td2, .sO__me1--t--tr2--td1, .sO__me1--t--tr2--td2, .sO__me1--t--tr3--td1, .sO__me1--t--tr3--td2, .sO__me1--t--tr4--td1, .sO__me1--t--tr4--td2{
		width: 100%;
	}

	.contentUNY, .contentUCLA{
		width: 100%;
		display: grid;
		justify-content: flex-end; 		
	}

	.contentFUNDAUC{
		width: 100%;
		display: flex;
		flex-wrap: wrap;
	}

	.div_logo{
		display: flex;
		justify-content: center; 	
	}

	.logoUNY, .logoUCLA{
		padding: 10px 10px 10px 10px;
		width: 100px;
		height: 150px;
	} 

	.logoFUNDAUC{
		padding: 10px 10px 10px 10px;
		width: 150px;
		height: 150px;	
	}
	
	.descripcionUNY, .descripcionfundauc, .descripcionUCLA{
		width: 100%;
		height: auto;
		text-align: justify; 
	}

	.contentBiefcase__one, .contentBiefcase__two, .contentBiefcase__three, .contentBiefcase__four{
		text-align: center;
		width: 100%;
		display: inline;
	}
 
 	.contentBiefcase__one-content, .contentBiefcase__two-content, .contentBiefcase__three-content, .contentBiefcase__four-content{
 		width: 100%;
 		padding: 0px 2px;
 	}
 
	.briefcase_logo{
		width: 100%;
		display: flex;
		justify-content: center
	}

	.contentBiefcase__one-Imagen{
		width: 150px;
		height: 150px;
	}

	.contentBiefcase__two-Imagen, 	.contentBiefcase__three-Imagen, .contentBiefcase__four-Imagen{
		width: 100px;
		height: 100px;
	}	

	.footer{
		width: 100%;
		height: auto;
		display: flex;
		display: grid;
	}
}
	